[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
flask = "==1.1.2"

[dev-packages]
ipdb = "==0.13.7"
behave = "==1.2.6"
pytest = "==6.2.2"

[requires]
python_version = "3.8"
