[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
flask-sqlalchemy = "*"
python-dotenv = "==0.15.0"
flask-migrate = "==2.7.0"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
ipdb = "==0.13.7"
pytest = "==6.2.2"
coverage = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
